# Dados e artefatos grandes
/data/raw/
/data/processed/
/models/
/*.zip
*.parquet
*.joblib
*.pkl

# Bytecode, caches
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Ambiente
.env
.vscode/
.idea/
requirements.txt

pandas
numpy
scikit-learn
joblib
matplotlib
seaborn
pyarrow
fastparquet
